---
title: Topics
permalink: /tags/
layout: layouts/standard-page.njk
---
<section class="tags-container">
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
</section>