---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/standard-page.njk
eleventyComputed:
  title: "#{{ tag }}"
permalink: /thoughts/{{ tag }}/
---
<section class="post-info">
  {% set taglist = collections[ tag ] %}
  {% for post in taglist | reverse %}
    <a href="{{ post.url }}" class="post-summary">
      <div class="post-index-date">Published {{ post.data.date.toDateString() }}</div>
      <h2 class="post-info-heading">{{ post.data.title }}</h2>
      <p class="post-description">{{ post.data.description }}</p></p>
    </a>
  {% endfor %}
</section