---
layout: layouts/base.njk
---
<section class="bio">
    <section class="hero">
        <section class="heading">
            <h1>{{ metadata.title }}</h1>
            <h2>{{ description }}</h2>
        </section>
        <img src="/images/Michael-Harley-Avatar.jpeg" alt="Photo of Michael" class="avatar">
    </section>
    {{ content | safe }}
</section>