---
layout: layouts/base.njk
---
<article class="post">
    <h1 class="post-title">{{ title }}</h1>
    <div class="post-date">Published {{ date.toDateString() }}</div>
    <p>
        <img class="post-header-image" src="{{ postHeaderImageUrl }}" alt="Header image">
        <i class="post-header-image-credit" >
            {{ postHeaderImageCredit | safe }}
        </i>
    </p>
    <section class="post-tag">
        {% for tag in tags %}
            {% if tag != "posts" %}
            {% set tagUrl %}/thoughts/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}">#{{ tag }}</a>
            {% endif %}
        {% endfor %}
    </section>
    <section class="post-content">
    {{ content | safe }}
    </section>
    <section class="post-footer">
        <section class="post-discussion-links">
        <a href="http://mobile.twitter.com/search?q={{ metadata.url}}{{ page.url }}">Discuss on Twitter</a>
        </section>
        <p>←<a href="/thoughts/"> Return to post index</a></p>
        <nav class="posts-bottom-nav">
            {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
            {%- if previousPost %}
            <a href="{{ previousPost.url}} " class="posts-previous-post">
                <div class="posts-previous-post-img">
                    <img src="/media/iconfinder_nav-arrow-left_383101.svg" alt="">
                </div>
                <div class="posts-previous-post-text">
                    <p class="posts-previous-post-heading">Previous post</p>
                    <p class="posts-previous-post-title">{{ previousPost.data.title }}</p>
                </div>
            </a>
            {% endif %}
            <div class="space-holder"></div>
            {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
            {%- if nextPost %}
            <a href="{{ nextPost.url }}" class="posts-next-post">
                <div class="posts-next-post-text">
                    <p class="posts-next-post-heading">Next post</p>
                    <p class="posts-next-post-title">{{ nextPost.data.title }}</p>
                </div>
                <div class="posts-next-post-img">
                    <img src="/media/iconfinder_nav-arrow-right_383100.svg" alt="">
                </div>
            </a>
            {% endif %}
        </nav>
    </section>
</article>
